[Unit]
Description=Create yat.sh session on startup
After=ssh-agent.service

[Service]
Type=forking
Environment="SSH_AUTH_SOCK=%t/keyring/ssh"
Environment="EMACS_DAEMON=%i"
Environment="TERM=xterm-256color"
ExecStart=/home/krahser/.bin/yat.sh %i
ExecStop=/home/krahser/.bin/yat.sh close %i

[Install]
WantedBy=default.target
