[Unit]
Description=Create yat.sh session on startup
After=ssh-agent.service

[Service]
Type=forking
Environment="SSH_AUTH_SOCK=%t/keyring/ssh"
Environment="TERM=xterm-256color"
ExecStart=%h/.bin/yat.sh %i daemon
ExecStop=%h/.bin/yat.sh close %i

[Install]
WantedBy=default.target
